* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
    padding: 0px;

}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(222,72,72,0.72);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(222,72,72,0.72);
    -moz-box-shadow: 0px 4px 4px 0px rgba(222,72,72,0.72);
}

.navbar-left svg {
    margin-right: 20px;
    display: flex;
    padding: 5px;
    margin-left: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}


.navbar-right div:hover {
    color: red;
}

.navbar-right {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.navbar-right svg{
    align-items: center;
    vertical-align: middle;
}

.contact-button {
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 16px;
    background-color: #da1313;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    vertical-align: middle;
    align-items: center;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
  background-color: white;
  margin: 100px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close-button {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.Location {
    display: inline-block;
    padding: 12px 24px;
    background-color: #da1313; 
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Location:hover {
    background-color: #aa2424;
    transform: scale(1.05);
}

.Location:active {
    transform: scale(0.98);
}